﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="MenuLink.ascx.cs" Inherits="finalAssignmentN01137684.usercontrol.MenuLink" %>
<asp:SqlDataSource 
    runat="server" 
    ID="page_list"
    ConnectionString="<%$ ConnectionStrings:page_sql_con %>">
</asp:SqlDataSource>
<div id="page_query" runat="server" class="querybox">

</div>

<li ID="pagemenu_link" runat="server">
</li>
